/* reset.css */
*, *::before, *::after {
    box-sizing: border-box;
}
body, h1, h2, p, ul, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    background-color: #f4f7f9;
    color: #333;
}
input, button, textarea, select {
    font: inherit;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}